@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.twitchStreamers {
  margin: auto;
  margin-top: 1em;
  width: 50em;
  height: 7em;
  color: #E1E1E6;
  background-color: #5C5457;
  padding-top: 1px;
}

.bannerText {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  margin-right: 10em;
  margin-top: 1em;
}

.buttonsDiv {
  /* margin-left: 65.5em;
  margin-bottom: 20em; */
  /* right: 5em; */
  right: -65.75em;
  top: -6em;
  position:relative;
}

.buttons {
  display: block;
  height: 1.5em;
  width: 5em;
  margin: 0.25em 0em;
  border-style: solid;
  /* color: #5C5457; */
}

/* .overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
} */

.user {
  border-style: solid;
  border-width: thin;
  border-color: black;
  width: 50%;
}

.all {
  position: relative;
  left: 32em;
  width: 50em;
  /* border-style: solid;
  color: black; */
}

.online {

}

.offline {

}
